<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>this is signup page</h1>
            <input type="text" placeholder="Enter name" id="name"/>
            <br>
            <input type="password" placeholder="Enter password" id="pass"/>
            <br>
            <button onclick="signup()">Sign up</button>
    </body>
    <a href="/login">Log in</a>
    <script>
        var token = localStorage.getItem('token');
        if(token)
        {
          jQuery.ajax({
            url:"http://localhost:3000/verifyToken?token="+token,
            method: 'get',
            contentType: 'application/json',
          }).done(function(result){
            console.log(result);
            if(result.success)
              window.location.href="/homepage?name="+result.name;
            else
              localStorage.clear();    
          }).fail(function(error){
            console.log(error);
          });
        }
        function signup()
        { 
            jQuery.ajax({
            url:"http://localhost:3000/addUser",
            method: 'post',
            contentType: 'application/json',
            data:JSON.stringify({
                name:document.getElementById("name").value,
                pass:document.getElementById("pass").value
            })
            }).done(function(result){
                console.log(result);
                if(result.success)
                {
                    alert(result.message)
                    window.location.href="/login";
                }
                else
                {
                    alert(result.message)
                }
            }).fail(function(error){
            console.log(error);
          });

        }
    </script>
</html>